* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v104_253 {
  width: 100%;
  height: 840px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_254 {
  width: 481px;
  height: 589px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 480px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3499999940395355);
  overflow: hidden;
}
.v104_255 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 520px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v104_256 {
  width: 400px;
  height: 39px;
  background: url("../images/v104_256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 520px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v104_257 {
  width: 380px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v104_258 {
  width: 400px;
  height: 36px;
  background: url("../images/v104_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 520px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v104_259 {
  width: 380px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Sofia Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v104_260 {
  width: 400px;
  height: 39px;
  background: url("../images/v104_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 520px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v104_261 {
  width: 380px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v104_262 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 248px;
  left: 520px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v104_263 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 458px;
  left: 520px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v104_264 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 520px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v104_265 {
  width: 215px;
  color: url("../images/v104_265.png");
  position: absolute;
  top: 630px;
  left: 520px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_266 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 630px;
  left: 801px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_267 {
  width: 400px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 520px;
  overflow: hidden;
}
.v104_268 {
  width: 400px;
  height: 51px;
  background: rgba(0,0,0,1);
  padding: 16px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v104_269 {
  width: 400px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v113_386 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 120px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.title a
{
  color: black;
  text-decoration: none;
}
